
  <!--
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <img src="assets/images/logo6.png" routerLink="/home" mat-button>
        </div>
        <div>
          <ng-template [ngIf]="userName == undfined || userName == ''" [ngIfElse]="elseBlock">
            <a href="#" routerLink="/signup/User" mat-button>Signup</a>
            <a (click)="customerLogin()" mat-button>Login</a>
            <a (click)="vendorLogin()" mat-button>Vendor Login</a>
          </ng-template>
        </div>
        <ng-template #elseBlock>
          Welcome {{userName}}
          <a href="#" (click)="signout()" mat-button>Signout</a>
          <ng-template [ngIf]="userType == 'vendor'">
            <mat-icon matBadge="{{notificationCount}}" matBadgeColor="warn" (click)="getNotifications()">hourglass_full</mat-icon>
           </ng-template> 
        </ng-template>

      </div>
    </nav>

-->


    <!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-grid">
				<div class="header-grid-left animated wow slideInLeft">
					<ul>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@boogiee.com">info@boogiee.com</a></li>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91 9048263553</li>
            
            <ng-template [ngIf]="userName == undefined || userName == ''" [ngIfElse]="elseBlock">
              <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i>
                <a href="#" routerLink="/signup/User" mat-button>Signup</a></li>
              <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
                <a (click)="customerLogin()" mat-button>Login</a></li>
              <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
                <a (click)="vendorLogin()" mat-button>Vendor Login</a></li>
            </ng-template>
           
            <ng-template #elseBlock>
              Welcome {{userName}}
              <a href="#" (click)="signout()" mat-button>Signout</a>
              <ng-template [ngIf]="userType == 'vendor'">
                <mat-icon matBadge="{{notificationCount}}" matBadgeColor="warn" (click)="getNotifications()">hourglass_full</mat-icon>
               </ng-template> 
            </ng-template>

<!--
						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="login.html">Login</a></li>
						<li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="register.html">Register</a></li>
			-->		</ul>
				</div>
				<div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
					<ul class="social-icons">
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="g"></a></li>
						<li><a href="#" class="instagram"></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			
		</div>
	</div>
<!-- //header -->
  
