#country-content {
    background: 1px solid rgb(139, 6, 6);
    font-size: 24px;
    font-weight: 600;
    color: #215996;
}

#search-box {
    width: 200px;
    height: 20px;
    border: 1px solid rgb(202, 15, 15);
}

.btn-submit {
    outline: none;
    border: none;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    display: block;
    width: 100%;
    background:#FFC229;
    margin: 1.5em 0 0;
   }


.country-detail-container {
    width: 95%;
    margin: auto;
}

.flag-container {
    height: 35px;
    margin-right: 10px;
}

.country-detail-header-text {
    font-size: 24px;
    font-weight: 600;
    width: 100%
}

.country-detail-grid {
    display: grid;
    grid-template-columns: 330px auto auto;
    grid-template-areas:
        'scoreTop overview overview'
        'scoreBottom overview overview'
        'supplier supplier supplier';
    grid-gap: 20px;
}

.chart-card-container {
    grid-area: overview;
    min-width: 400px;
    height: 290px;
    position: unset !important;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2) !important;
}

.supplier-details-box {
    grid-area: supplier;
    margin-bottom: 20px;
}

.supplier-card-container {
    min-width: 350px;
    height: 290px;
    position: unset !important;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2) !important;
}

.progress-card-container {
    width: 290px;
    height: 120px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2) !important;
    position: unset !important;
    padding: 20px !important;
}

.progress-grid-area-top {
    grid-area: scoreTop;
}

.progress-grid-area-bottom {
    grid-area: scoreBottom;
}

.progress-content {
    display: flex;
    width: 100%;
    margin: 0 -15px 0 -15px !important;
}

.progress-content-block {
    width: 100%;
    padding: 10px;
}

.right-border {
    border-right: 1px solid lightgray;
}

.progress-comp {
    display: inline-block;
    color: white;
    margin: 15px 10px 0 0;
    text-align: center;
}
