.body {
    padding-top: 60px;
  }
@media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }

 /* This is to remove the border in angular rating stars*/
 :focus {
   outline: none !important;
 } 

 