
  <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" [linear]="isLinear">
      <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        
        <ng-template matStepLabel>What is your Item</ng-template>
        
        <div class="addItem-form-grids">
          <!--<div class="input-group">-->
          <div>
            <mat-form-field class="input-group">
              <mat-label>Item name</mat-label>
              <input matInput formControlName="name" readonly={{readOnly}}>
            <!-- <mat-hint>Include Full Name</mat-hint>-->
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            
            <mat-form-field class="input-group">
              <mat-select placeholder="Type" [(value)]="typeSelected" formControlName="type">
                <mat-option></mat-option>
                <mat-option *ngFor="let type of itemTypes" [value]="type" id="type">{{type.name}}</mat-option>
              </mat-select>
            </mat-form-field> 
        
            
      
            <mat-form-field class="input-group">
                <textarea matInput placeholder="Address" formControlName="address" readonly={{readOnly}}></textarea>
            </mat-form-field>
          </div>
          <div>
          <mat-form-field class="input-group">
              <mat-select placeholder="State" [(value)]="stateSelected" (selectionChange)="populateCity($event.value)" formControlName="state">
                <mat-option></mat-option>
                <mat-option *ngFor="let state of states" [value]="state">{{state.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field class="input-group">
              <mat-select placeholder="City" [(value)]="citySelected" (selectionChange)="populatePlaces($event.value)" formControlName="city">
                  <mat-option *ngFor="let city of cities" [value]="city">{{city.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field class="input-group">
              <mat-select placeholder="Place" [(value)]="placeSelected" formControlName="place">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let place of places" [value]="place" id="place">{{place.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="input-group">
                <mat-label>Email address</mat-label>
                <input matInput formControlName="email" readonly={{readOnly}}>
                <mat-error>The input is invalid.</mat-error>
              </mat-form-field>
    
              <mat-form-field class="input-group">
                  <mat-label>Contact Number 1</mat-label>
                  <input matInput formControlName="contactNbr1" readonly={{readOnly}}>
                  <mat-error>The input is invalid.</mat-error>
                </mat-form-field>
    
                <mat-form-field class="input-group">
                    <mat-label>Contact Number 2</mat-label>
                    <input matInput formControlName="contactNbr2" readonly={{readOnly}}>
                    <mat-error>The input is invalid.</mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="input-group">
                  <mat-label>Available Quantity</mat-label>
                  <input matInput formControlName="qtyAvailable" readonly={{readOnly}}>
                  <mat-error>The input is invalid.</mat-error>
                </mat-form-field>
              </div>
              </div>
        <div>
          <button mat-button matStepperNext (click)="validateForm1()">Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>More details and facilities available</ng-template>

        <div class="addItem-form-grids">

          <mat-form-field class="input-group">
              <textarea matInput placeholder="Description" formControlName="description" readonly={{readOnly}}></textarea>
          </mat-form-field>
        
          <mat-form-field class="input-group">
              <mat-label>Amenities</mat-label>
            <textarea matInput placeholder="Amenities" formControlName="amenity1" readonly={{readOnly}}></textarea>
          </mat-form-field>
          <mat-form-field class="input-group"> 
              <mat-label>Amenities</mat-label> 
            <textarea matInput placeholder="Amenities" formControlName="amenity2" readonly={{readOnly}}></textarea>
          </mat-form-field>
          <mat-form-field class="input-group">
              <mat-label>Amenities</mat-label>
            <textarea matInput placeholder="Amenities" formControlName="amenity3" readonly={{readOnly}}></textarea> 
          </mat-form-field>
          <div>
            <mat-checkbox class="checkbox-group" formControlName="temperatureCtrl">Temperature Control Ac/NonAc</mat-checkbox>
            <mat-checkbox class="checkbox-group" formControlName="dressChangingRoom">Bride & Groom dress changing rooms</mat-checkbox>
            <mat-checkbox class="input-group" formControlName="kitchen">Kitchen</mat-checkbox>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Let's have the price details</ng-template>
          
          <div class="addItem-form-grids">
            <mat-form-field class="input-group">
                <textarea matInput placeholder="Cost for a day" formControlName="cost" readonly={{readOnly}}></textarea>
            </mat-form-field>
      
            <mat-form-field class="input-group">
                <textarea matInput placeholder="Tax" formControlName="tax" readonly={{readOnly}}></textarea>
            </mat-form-field>
            
            <mat-form-field class="input-group">
              <textarea matInput placeholder="Discount" formControlName="discount" readonly={{readOnly}}></textarea>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>



    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
     
        <button mat-button (click)="formSubmited()">Submit</button>
      
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
    </mat-vertical-stepper>
   
 

 
 <!--<div>
 
        <app-imageUpload></app-imageUpload>
        
      </div>-->
    