<!--
<h1>{{type | titlecase}} Registration</h1>
<form [formGroup]="signupForm">
    
        <div class="bounds">
                
            <div class="content" fxLayout="row"  fxLayout.xs="row" fxFlexFill>
              <div fxFlex="50" class="sec1" fxFlex.xs="55">
                
           
                <div>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email ID" required="true" title="Should be unique" formControlName="mailId">
                  </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Full Name" formControlName="name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-select placeholder="State" [(value)]="stateSelected" (selectionChange)="populateCity($event.value)" formControlName="state">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let state of states" [value]="state">{{state.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-select placeholder="City" [(value)]="citySelected" (selectionChange)="populatePlaces($event.value)" formControlName="city">
                            <mat-option>None</mat-option>
                              <mat-option *ngFor="let city of cities" [value]="city">{{city.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Password" [type]="hide1 ? 'password' : 'text'" formControlName="password">
                        <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Re-enter Password" [type]="hide2 ? 'password' : 'text'" id="rePassword">
                        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
                </div>
            </div>
        </div>
        <div fxFlex="50" class="sec2">
            <div>
                <div>
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Address" formControlName="address"></textarea>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Mobile Number 1" formControlName="mobile1">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Mobile Number 2" id="mobile2">
                    </mat-form-field>
                </div>
            
                <button mat-button class="btn btn-default" (click)="createUser()">Submit</button>
            </div>
       </div>

</form>
 -->

<form [formGroup]="signupForm">	

    <div class="register">
        <div class="container">
            <ng-template [ngIf]="type == 'vendor'" [ngIfElse]="elseBlock">
                <h3 class="animated wow zoomIn">Register Here - Vendor</h3>
            </ng-template>
            <ng-template #elseBlock>
                    <h3 class="animated wow zoomIn">Register Here</h3>
            </ng-template>
            
            <p class="est animated wow zoomIn">Create an account to easily use Boogiee.com services.</p>
            <div class="login-form-grids">
                <h5 class="animated wow slideInUp">profile information</h5>
                    <input type="text" placeholder="Full Name" required=" " formControlName="name">
                    <input type="text" placeholder="Address" required=" " formControlName="address">
                    &nbsp;
                    <div>
                        <mat-form-field>
                            <mat-select placeholder="State" (selectionChange)="populateCity($event.value)" formControlName="state">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let state of states" [value]="state">{{state.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;&nbsp;
                        <mat-form-field>
                            <mat-select placeholder="City" formControlName="city">
                                <mat-option>None</mat-option>
                                    <mat-option *ngFor="let city of cities" [value]="city">{{city.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <input type="text" placeholder="Mobile Number" required=" " formControlName="mobile1">
                
                <h6>Login information</h6>
                    <input type="email" placeholder="Email Address" required=" " formControlName="mailId">
                    <input type="password" placeholder="Password" required=" " formControlName="password">
                    <input type="password" placeholder="Password Confirmation" required=" " id="rePassword">
                    <div class="register-check-box">
                        <div class="check">
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
                        </div>
                    </div>
                    <button mat-button class="btn-submit" (click)="createUser()">Submit</button>
            </div>
        
        </div>
    </div>

</form>
    