<ng-template [ngIf]="dataSource.data.length > 0" [ngIfElse]="elseBlock">


<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.itemName}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="bookingFromDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Booked From Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.bookingFromDate | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bookingToDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Booked From Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.bookingToDate | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amtCollected">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.details.amtCollected}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdOn">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Booked On </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.createdOn | date}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[1, 5, 10, 20]"></mat-paginator>
  </div>
</ng-template>
<ng-template #elseBlock>
    <mat-label><h3>No Items found!!</h3></mat-label>
</ng-template>