<!--<ng-template [ngIf]="userType == 'vendor'">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
                  
        <button mat-button [matMenuTriggerFor]="menu">Categories</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/search/auditorium">Auditorium</button>
            <button mat-menu-item routerLink="/search/Beauty">Beauty Parlor</button>
            <button mat-menu-item routerLink="/search/Transportation">Transportation</button>
            <button mat-menu-item routerLink="/search/Photo">Photo & Video</button>
            <button mat-menu-item routerLink="/search/Decoration">Decoration</button>
            <button mat-menu-item routerLink="/search/Honeymoon">Honeymoon Packages</button>
            <button mat-menu-item routerLink="/search/Event">Event Management</button>
        </mat-menu>
      </div>
      <div fxShow="true" fxHide.lt-md>
          <button mat-button (click)="redirect('vendorBookingItemList')">Book Now</button>
      </div>
      <div fxShow="true" fxHide.lt-md>
        <button mat-button (click)="redirect('vendorBlockDates')">Block Dates</button>
      </div>
      <div fxShow="true" fxHide.lt-md>
          <button mat-button (click)="redirect('bookedList')">Booked Details</button>
      </div>
      <div fxShow="true" fxHide.lt-md>
          <button mat-button (click)="redirect('viewItem')">View Item</button>
      </div>
      <div fxShow="true" fxHide.lt-md>
          <button mat-button (click)="redirect('addItem')">Add Item</button>
      </div>
      <div fxShow="true" fxHide.lt-md>
          <button mat-button (click)="redirectSearch('Event')" routerLink="/profile">Profile</button>
      </div>
                
      
    </mat-toolbar-row>
  </mat-toolbar>
        
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list (sidenavClose)="sidenav.close()">
          <button mat-button [matMenuTriggerFor]="menu">Categories</button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Auditorium">Auditorium</button>
              <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Beauty">Beauty Parlor</button>
              <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Transportation">Transportation</button>
              <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Photo">Photo & Video</button>
              <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Decoration">Decoration</button>
              <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Honeymoon">Honeymoon Packages</button>
              <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Event">Event Management</button>
          </mat-menu>
          <div>
            <button mat-button (click)="redirect('vendorBookingItemList')">Book Now</button>
          </div>
          <div>
            <button mat-button (click)="redirect('vendorBlockDates')">Block Dates</button>
          </div>
          <div>
              <button mat-button (click)="redirect('bookedList')">Booked Details</button>
          </div>
          <div>
              <button mat-button (click)="redirect('viewItem')">View Item</button>
          </div>
          <div>
              <button mat-button (click)="redirect('addItem')">Add Item</button>
          </div>
          <div>
              <button mat-button (click)="redirectSearch('Event')" routerLink="/profile">Profile</button>
          </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><router-outlet (click)="onSidenavClose()"></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
<ng-template [ngIf]="userType == 'customer' || userType == undefined">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <button mat-button routerLink="/search/Auditorium">Auditorium</button>
          <button mat-button routerLink="/search/Beauty">Beauty Parlor</button>
          <button mat-button routerLink="/search/Transportation">Transportation</button>
          <button mat-button routerLink="/search/Photo">Photo & Video</button>
          <button mat-button routerLink="/search/Decoration">Decoration</button>
          <button mat-button routerLink="/search/Honeymoon">Honeymoon Packages</button>
          <button mat-button routerLink="/search/Event">Event Management</button>
          <ng-template [ngIf]="userType == 'customer'">
            <button mat-button routerLink="/profile">Profile</button>
          </ng-template>
        </div>
      </mat-toolbar-row>
  </mat-toolbar>
        
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list (sidenavClose)="sidenav.close()">
          <div>
            <button mat-button (click)="onSidenavClose();" routerLink="/search/Auditorium">Auditorium</button>
          </div>
          <div>
            <button mat-button (click)="onSidenavClose();" routerLink="/search/Beauty">Beauty Parlor</button>
          </div>
          <div>
            <button mat-button (click)="onSidenavClose();" routerLink="/search/Transportation">Transportation</button>
          </div>
          <div>
            <button mat-button (click)="onSidenavClose();" routerLink="/search/Photo">Photo & Video</button>
          </div>
          <div>
            <button mat-button (click)="onSidenavClose();" routerLink="/search/Decoration">Decoration</button>
          </div>
          <div>
            <button mat-button (click)="onSidenavClose();" routerLink="/search/Honeymoon">Honeymoon Packages</button>
          </div>
          <div>
            <button mat-button (click)="onSidenavClose();" routerLink="/search/Event">Event Management</button>
          </div>
          <ng-template [ngIf]="userType == 'customer'">
            <div>
              <button mat-button (click)="onSidenavClose()" routerLink="/profile">Profile</button>
            </div>
          </ng-template>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill><router-outlet (click)="onSidenavClose()"></router-outlet></mat-sidenav-content>
    </mat-sidenav-container>
</ng-template>

<ng-template [ngIf]="userType == 'admin'">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
                    
          <button mat-button [matMenuTriggerFor]="menu">Categories</button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/search/auditorium">Auditorium</button>
              <button mat-menu-item routerLink="/search/Beauty">Beauty Parlor</button>
              <button mat-menu-item routerLink="/search/Transportation">Transportation</button>
              <button mat-menu-item routerLink="/search/Photo">Photo & Video</button>
              <button mat-menu-item routerLink="/search/Decoration">Decoration</button>
              <button mat-menu-item routerLink="/search/Honeymoon">Honeymoon Packages</button>
              <button mat-menu-item routerLink="/search/Event">Event Management</button>
          </mat-menu>
        </div>
        <div fxShow="true" fxHide.lt-md>
            <button mat-button (click)="redirect('vendorBookingItemList')">Book Now</button>
        </div>
        <div fxShow="true" fxHide.lt-md>
            <button mat-button (click)="redirect('bookedList')">Booked Details</button>
        </div>
        <div fxShow="true" fxHide.lt-md>
            <button mat-button (click)="redirect('viewItem')">View Item</button>
        </div>
        <div fxShow="true" fxHide.lt-md>
            <button mat-button (click)="redirect('addItem')">Add Item</button>
        </div>
        <div fxShow="true" fxHide.lt-md>
            <button mat-button (click)="redirectSearch('Event')" routerLink="/profile">Profile</button>
        </div>
                  
        
      </mat-toolbar-row>
    </mat-toolbar>
          
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list (sidenavClose)="sidenav.close()">
            <button mat-button [matMenuTriggerFor]="menu">Categories</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Auditorium">Auditorium</button>
                <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Beauty">Beauty Parlor</button>
                <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Transportation">Transportation</button>
                <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Photo">Photo & Video</button>
                <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Decoration">Decoration</button>
                <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Honeymoon">Honeymoon Packages</button>
                <button mat-menu-item (click)="onSidenavClose();" routerLink="/search/Event">Event Management</button>
            </mat-menu>
            <div>
              <button mat-button (click)="redirect('vendorBookingItemList')">Book Now</button>
            </div>
            <div>
                <button mat-button (click)="redirect('bookedList')">Booked Details</button>
            </div>
            <div>
                <button mat-button (click)="redirect('viewItem')">View Item</button>
            </div>
            <div>
                <button mat-button (click)="redirect('addItem')">Add Item</button>
            </div>
            <div>
                <button mat-button (click)="redirectSearch('Event')" routerLink="/profile">Profile</button>
            </div>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill><router-outlet (click)="onSidenavClose()"></router-outlet></mat-sidenav-content>
    </mat-sidenav-container>
  </ng-template>
  -->

<ng-template [ngIf]="userType == 'vendor'">
    
  <div class="logo-nav">
      <div class="logo-nav-left animated wow zoomIn">
        <!--<h1><a href="index.html">Best Store <span>Shop anywhere</span></a></h1>-->
        <img src="assets/images/logo6.png" routerLink="/home" mat-button>
      </div>
      <div class="logo-nav-left1">
        <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header nav_2">
          <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div> 
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/home" class="act">Home</a></li>	
            <!-- Mega Menu -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
              <ul class="dropdown-menu multi-column columns-3">
                <div class="row">
                  <div class="col-sm-4">
                    <ul class="multi-column-dropdown">
                      <h6>Booking Categories</h6>
                      <li><a routerLink="/search/auditorium">Auditorium</a></li>
                      <li><a routerLink="/search/Beauty">Beauty Parlor</a></li>
                      <li><a routerLink="/search/Transportation">Transportation</a></li>
                      <li><a routerLink="/search/Photo">Photo & Video</a></li>
                      <li><a routerLink="/search/Decoration">Decoration</a></li>
                      <li><a routerLink="/search/Honeymoon">Honeymoon Packages</a></li>
                      <li><a routerLink="/search/Event">Event Management</a></li>
                    </ul>
                  </div>
                 
                  <div class="clearfix"></div>
                </div>
              </ul>
            </li>
         
            <li><a (click)="redirect('vendorBookingItemList')">Book Now</a></li>
            <li><a (click)="redirect('vendorBlockDates')">Block Dates</a></li>
            <li><a (click)="redirect('bookedList')">Booked Details</a></li>
            <li><a (click)="redirect('viewItem')">View Item</a></li>
            <li><a (click)="redirect('addItem')">Add Item</a></li>
            <li><a (click)="redirectSearch('Event')" routerLink="/profile">Profile</a></li>
          
          </ul>
        </div>
        </nav>
      </div>
      
      <div class="header-right">
        <!--div class="cart box_1">
          <a href="checkout.html">
            <h3> <div class="total">
              <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
              <img src="assets/images/bag.png" alt="" />
            </h3>
          </a>
          <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
          <div class="clearfix"> </div>
        </div>-->	
      </div>
      <div class="clearfix"> </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="userType == 'customer' || userType == undefined">
    <div class="logo-nav">
        <div class="logo-nav-left animated wow zoomIn">
          <!--<h1><a href="index.html">Best Store <span>Shop anywhere</span></a></h1>-->
          <img src="assets/images/logo6.png" routerLink="/home" mat-button>
        </div>
        <div class="logo-nav-left1">
          <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header nav_2">
            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div> 
          <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/home" class="act">Home</a></li>	
              <li><a routerLink="/search/auditorium">Auditorium</a></li>
              <li><a routerLink="/search/Beauty">Beauty Parlor</a></li>
              <li><a routerLink="/search/Transportation">Transportation</a></li>
              <li><a routerLink="/search/Photo">Photo & Video</a></li>
              <li><a routerLink="/search/Decoration">Decoration</a></li>
              <li><a routerLink="/search/Honeymoon">Honeymoon Packages</a></li>
              <li><a routerLink="/search/Event">Event Management</a></li>
                      
              <ng-template [ngIf]="userType == 'customer'">
                <li><a routerLink="/profile">Profile</a></li>
              </ng-template>
              
            </ul>
          </div>
          </nav>
        </div>
        
        <ng-template [ngIf]="userType == 'customer'">
          <div class="header-right">
            <div class="cart box_1">
              <a href="checkout.html">
                <h3> <div class="total">
                  <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
                  <img src="assets/images/bag.png" alt="" />
                </h3>
              </a>
              <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
              <div class="clearfix"> </div>
            </div>	
          </div>
        </ng-template>
        <div class="clearfix"> </div>
      </div>
  </ng-template>
  <ng-template [ngIf]="userType == 'admin'">


  </ng-template>