<h1 mat-dialog-title>{{data.itemName}}</h1>
<div mat-dialog-content>
    <div class="bounds">
        <div class="content" fxLayout="row" fxLayout.xs="row" fxFlexFill>
          <div fxFlex="50" class="sec1" fxFlex.xs="55">

            <div>
              <mat-label>Booked From Date : {{data.bookingToDate | date}}</mat-label>
            </div><br>
            <div>
              <mat-label>Booked To Date : {{data.bookingToDate | date}}</mat-label>
            </div><br>  
            <div>
              <mat-label>Status : {{data.status}}</mat-label>
            </div><br>
            <div>
              <mat-label>Booked Through : {{data.details.bookedThrough}}</mat-label>
            </div>
          </div>
          <div fxFlex="50" class="sec2">
          
              
            <div>
              <mat-label>Amount Collected : INR {{data.details.amtCollected}}</mat-label>
            </div><br>
            <div>  
              <mat-label>Tax Collected : {{data.details.taxCollected}}</mat-label>
            </div><br>
            <div>
              <mat-label>Amount Processed to Vendor: {{data.details.amtProcessedToVendor}}</mat-label>
            </div><br>
            <div>
              <mat-label>Amount Processed to Vendor through : {{data.details.amtProcessedToVendorThrough}}</mat-label>
            </div><br>
            <div>
              <mat-label>Amount Processed to Vendor On : {{data.details.amtProcessedToVendorOn}}</mat-label>
            </div>
          
          
          </div>
        </div>
      </div>
      
      
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
 
</div>