<h1 mat-dialog-title>User Details</h1>
<div mat-dialog-content>
 
    <div class="bounds">
        <div class="content" fxLayout="row" fxLayout.xs="row" fxFlexFill>
          <div fxFlex="50" class="sec1" fxFlex.xs="55">
            <mat-form-field>
                <input matInput [(ngModel)]="data.details.name" readonly>
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="data.details.address" readonly>
            </mat-form-field>
          </div>
        </div>
      </div>  
      
      
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
 
</div>