<h1 mat-dialog-title>Notifications</h1>
<div mat-dialog-content>
  <li *ngFor="let notification of data | paginate: {itemsPerPage: 2, currentPage: p}">
  
  <div class="bounds">
      <mat-card class="content" fxLayout="row wrap" fxLayoutGap="50px" fxLayoutAlign="flex-start" fxLayout.xs="row" fxFlexFill>
        <div fxFlex="250" class="sec1" fxFlex.xs="55">
            <mat-card-content>{{notification.message}}</mat-card-content>
        </div>
        </mat-card>
      </div>

  
      
     </li>
     <pagination-controls (pageChange)="p =$event"></pagination-controls>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>